:root {
  --primary-100: hsl(273, 27%, 48%);
  --primary-200: hsl(273, 29%, 58%);
  --primary-300: hsl(273, 27%, 48%);
  --primary-400: hsl(273, 30%, 43%);
  --primary-500: hsl(273, 33%, 33%);
  --secondary-100: hsl(0, 87%, 68%);
  --secondary-200: hsl(0, 89%, 73%);
  --secondary-300: hsl(0, 87%, 68%);
  --secondary-400: hsl(0, 85%, 63%);
  --secondary-500: hsl(0, 90%, 58%);
  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsl(200, 23%, 97%);
  --neutral-300: hsl(200, 12%, 95%);
  --neutral-400: hsl(205, 12%, 88%);
  --neutral-500: hsl(209, 13%, 83%);
  --neutral-600: hsl(208, 6%, 55%);
  --neutral-700: hsl(210, 8%, 31%);
  --neutral-800: hsl(212, 9%, 22%);
  --neutral-900: hsl(210, 10%, 14%);
  --dark-100: hsl(240, 4%, 9%);
}